detector_comparison/val_set/*
hsv_tool/hsv/*
hsv_tool/images/*
hsv_tool/labels/*
bags/
pcd/
image_pipeline/
*.pcd
*.zip
*.pyc
ROS/build/*
ROS/devel/*
new/build/*
pcl_alg/build
hsv_tool/1
hsv_tool/2
hsv_tool/venv
ROS_fork_for_vis
net_training/*
yolo/ds/*
yolo/net_training/*
